{
  "presets": [["es2015", { "modules": false }], "es2016"<% if (jsLang === 'react') { %>, "react"<% } %>],
  "plugins": ["syntax-dynamic-import", "transform-runtime", "transform-async-to-generator"<% if (jsLang === 'react') { %>, "react-hot-loader/babel"<% } %>]
}
