{
  "presets": [["latest", { "es2015": { "modules": false } }]<% if (jsLang === 'react') { %>, "react"<% } %>],
  "plugins": ["syntax-dynamic-import", "transform-runtime", "transform-async-to-generator"<% if (jsLang === 'react') { %>, "react-hot-loader/babel"<% } %>]
}
