{
  "parser": "babel-eslint",
  "extends": ["standard"<% if (jsLang === 'React') { %>, "standard-react"<% } %>],
  "env": {
    "browser": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "DEVMODE": false
  }<% if (jsLang === 'React') { %>,
  "rules": {
    "jsx-quotes": [2, "prefer-double"]
  }<% } %>
}
