.primary-footer
  padding: 40px 15px
  text-align: center
  color: #B01839

  a:hover
    text-decoration: underline

  // Pardon the margins; this SVG has horrendous padding around it
  img
    height: 40px
    margin: -14px -23px
    filter: grayscale(100%) brightness(0%)
