// Dependencies
@require '~sourdough-reset/build/reset.css'

// Everything else
@require 'base/vars'
@require 'base/utils'
@require 'base/typography'
@require 'base/skeleton'

@require 'components/nav'
@require 'components/footer'

@require 'pages/home'
