if !title
  - title = 'Fallback title'
if !desc
  - desc = 'Fallback description'

meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(name='viewport' content='width=device-width, initial-scale=1')

meta(name='description', content=desc)

link(href='/assets/humans.txt', rel='author', type='text/plain')
link(href='/assets/img/favicon.ico', rel='shortcut icon')

title= title
